<header>
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgb(52, 59, 122) 35%,
      rgba(102, 102, 102, 1) 100%
    );
  "
  >
    <div class="container">
      <a class="navbar-brand" href="#"
        ><img src="../../../img/kim.jpg" alt="kuleuven" height="45"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          {% for tag in collections.tagList %}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <li>
              <a href="{{ tagUrl | url }}" class="nav-link text-light">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
        <!-- <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-primary" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form> -->
      </div>
    </div>
  </nav>
</header>
